<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="keywords" content="mark-samples-springboot-thymeleaf thymeleaf">
	<meta name="description" content="">
	<meta name="author" content="mark">
	<link rel="shortcut icon" href="#" type="image/png">
	
	<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">mark-samples-springboot-thymeleaf</title>
	
	<!--icheck-->
	<link href="/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
	<link href="/js/iCheck/skins/square/square.css" rel="stylesheet">
	<link href="/js/iCheck/skins/square/red.css" rel="stylesheet">
	<link href="/js/iCheck/skins/square/blue.css" rel="stylesheet">
	
	<!--dashboard calendar-->
	<link href="/css/clndr.css" rel="stylesheet">
	
	<!--common-->
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/style-responsive.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->

  </head>
  <body class="sticky-header">
  	<!--/* Standard layout can be mixed with Layout Dialect */-->
    <div th:replace="fragments/sidebar :: sidebar"></div>
  
  	<!-- main content start-->
    <div class="main-content" >
    	
    	<!--/* Standard layout can be mixed with Layout Dialect */-->
    	<div th:replace="fragments/header :: header"></div>
    	
    	<!--body wrapper start-->
        <div class="wrapper" layout:fragment="content">
        
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
    
    <!-- Placed js at the end of the document so the pages load faster -->
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/modernizr.min.js"></script>
	<script src="/js/jquery.nicescroll.js"></script>
	
	<!--common scripts for all pages-->
	<script src="/js/scripts.js"></script>
    
  </body>
</html>